.content {
  display: grid;
  grid-template-rows: 7rem 12rem 1fr;
  grid-template-areas: 
  'header' 
  'middle'
  'body';
}

header {
  grid-area: header;
  background: var(--color-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;

}

header img {
  width: 9rem;
  margin-left: 2rem;
}

header button {
  background: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-white);

  margin-right: 2rem;
  padding: 0 2rem;
  height: 4rem;

  border-radius: 0.8rem;
}

header button:hover {
  filter: brightness(1.2) /*"brightness" -. aplica um brilho */
}

.search {
  grid-area: middle;
  display: flex;
  flex-direction: column;



  background: cornflowerblue;

}

.search form {
  display: flex;
  justify-content: center;
  height: 4.5rem;

  margin-top: 1rem;

  background: chartreuse;

}

.search form input {

  border: 0.1rem solid var(--color-grey-light);
  padding: 0 6rem;
  height: 4.5rem;
  border-radius: 0.8rem 0 0 0.8rem;
}

.search form button{
  background: var(--color-grey-light);
 
  height: 4.5rem;
  width: 4.5rem;

  border-radius: 0 0.8rem 0.8rem 0;

}

.img-search {
  width: 1.5rem;
}

.search a {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 4.5rem;
  width: 4.5rem;

  border-radius: 0.8rem;

  background: var(--color-grey-light)
}

.search a img {
  width: 2rem;
  height: 2rem;
}






main {
  grid-area: body;

  background: brown;
}